.Page {
    width: 100%;
    min-height: calc(100vh - 30px);
    background: #ECECEC;
    background-repeat: repeat;
    color: #ffffff;
    display: flex;
    align-items: center;
  }

  .Text {
    color: black;
  }